
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #FF8500;
}


html, body {
  height: 100%;
  margin: 0;
}

.header-wrapper {
  width: 100%;
  display: flex; 
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
}

.header-left {
  width: 60%;
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  gap: 5%;
  margin-top: 10px;
  margin-left: 4%;
}

.header-left > * {
  margin: 0;
}

.header-right > * {
  margin: 0 10px;
}

.body-flex { 
  display: flex; 
  flex-flow: row wrap;
}

.sidebar {
  width: 20%;
  background-color: #D9D9D9;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.sidebar-left {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sidebar-email {
  height: 20%;
  width: 90%;
  background-color: #D0D0D0;
  margin-top: 15px;
  padding: 10px 0;
}

.sidebar-email > * {
  margin-left: 10px;
}

.sidebar-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  margin-left: 20%;
}

.sidebar-item {
  font-size: 1.25em;
  width: 100%;
  color: black !important;
  text-decoration: none; 
  padding: 10px 0;
}

.sidebar-right {
  width: 90%;
  margin-bottom: 25px;
  border-top: 3px solid #BABABA;
}

.sidebar-right a {
  font-size: 1.25em;
  display: block;
  width:90%;
  padding: 10px 0 0 20px;
  color: black !important;
  text-decoration: none; 
}

.main-wrapper { 
  width: 80%;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;
}

td img, 
th img {
  margin: 0;
  padding: 0;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  white-space: nowrap;
}

.error {
  color: #f00;
  text-align: center;
}

label {
  display: block;
  margin: 0 0 10px 0;
  text-align: left;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 0;
}

textarea {
  border-radius: 0;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

input {
  border-radius: 0;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

input[type=submit] {
  border: 0;
  background-color: #eb741d;
  color: #fff;
  padding: 10px 10px;
  font-size: 110%;
  margin-top: 10px;
}

#dashboard {
  padding: 0;
  margin: 0;
}

#dashboard li a:link,
#dashboard li a:visited,
#dashboard li a:active,
#dashboard li a:hover {
  color: #fff;
}
#dashboard li {
  background-color: #eb741d;
  display: inline-block;
  width: 22%;
  margin: 1%;
  padding: 2%;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  list-style-position: inside;
  border: none;
}
#dashboard i {
  margin-bottom: 5px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 4em;
}

.card {
  background: #ebebeb;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-thumbnail {
  flex-shrink: 1;
}
.card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.card-header, .card-body {
    padding: 0 1em;
    flex: 1;
}

.card .card-body {
  flex: 1;
}


.card .card-btn-group {
  display: flex;
  gap: 0.25em;  
}

.card .card-footer, .card .card-header {
  flex-shrink: 1;
}

.card .card-btn-group > * {
  flex: 1;

}

.card-btn {
  padding: 0.5em;
  text-align: center;
  background-color: #c7c7c7;

}


.txt-danger {
  color: red !important;
}